<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!-- Required meta tags-->

    <meta name="description" content="Registration Page">
    <meta name="author" content="Pritesh Bhavsar">
    <meta name="keywords" content="RMS Registration">

    <!-- Icons font CSS-->
    <link href="~/regi/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/regi/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/regi/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/regi/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/regi/css/main.css" rel="stylesheet" media="all">
</head>
<body>   
    <a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="Index">New User</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="login">Login</a>
        
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/regi/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/regi/vendor/select2/select2.min.js"></script>
    <script src="~/regi/vendor/datepicker/moment.min.js"></script>
    <script src="~/regi/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/regi/js/global.js"></script>
</body>
</html>
