
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Registration.cshtml";
}

<h3>Registration Information</h3>
<br/>
<form method="POST">
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="NAME" name="name">
    </div>
    <div class="row row-space">
        <div class="col-2">
            <div class="input-group">
                <input class="input--style-1 js-datepicker" type="text" placeholder="BIRTHDATE" name="birthday">
                <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">
                    <select name="gender">
                        <option disabled="disabled" selected="selected">GENDER</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                    <div class="select-dropdown"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group">
        <div class="rs-select2 js-select-simple select--no-search">
            <select name="class">
                <option disabled="disabled" selected="selected">CLASS</option>
                <option>Class 1</option>
                <option>Class 2</option>
                <option>Class 3</option>
            </select>
            <div class="select-dropdown"></div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-2">
            <div class="input-group">
                <input class="input--style-1" type="text" placeholder="REGISTRATION CODE" name="res_code">
            </div>
        </div>
    </div>
    <div class="p-t-20">
        <button class="btn btn--radius btn--green" type="submit">Submit</button>
    </div>
</form>


