
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Registration.cshtml";
}

<h3>Login Information</h3>
<br />
<form method="POST">
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="User Name" name="UserName">
    </div>
    <div class="input-group">
        <input class="input--style-1" type="password" placeholder="Password" name="Password">
    </div>
   
    <div class="p-t-20">
        <button class="btn btn--radius btn--green" type="submit">Login</button>
    </div>
</form>

