
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Category Index</h3>
<br/>
<br/>
<partial name="subCategory" />
<br/>
<partial name="../Registration/Login" />

